@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'W95FA';
  src: url(/fonts/W95FA.woff2) format('woff2'),
       url(/fonts/W95FA.woff) format('woff');
}

.gradient-yellow-orange {
  background: linear-gradient(to right, #E3BF00, #FF8E33);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.relative:hover .dropdown-content {
  display: block;
}
body {
  font-family: 'W95FA';
  letter-spacing: 1px;
  background-color: #000;
  color: #929292;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scrollbar-width: none;  /* Firefox */
}

a {
 transition: .25s;
}
a:hover {
 color: #2f81f7;
}

.from-yellow-16 {
  --tw-gradient-from: rgba(222,241,65,.16) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(222,241,65,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}
.from-yellow\/15 {
  --tw-gradient-from: rgba(222,241,65,.04) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(222,241,65,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.text-gray {
  color: #929292;
}
.border-dark-gray {
  border-bottom: 1px solid #303030;
}
.border-dark-gray-r {
  border-right: 1px solid #303030;
}
.border-dark-gray-b {
  border-bottom: 1px solid #303030;
}
.border-dark-gray-top{
  border-top: 1px solid #303030;
}
.border-dark-gray-all {
  border-bottom: 1px solid #303030;
  border-left: 1px solid #303030;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
}
#search-bar::placeholder { color: #5d5d5d; }
.sticky-header {
  position: sticky;
  top: 0;
  background-color: inherit; /* This is to ensure the background of the header doesn't become transparent when scrolling */
  z-index: 1; /* This is to ensure the header stays on top of the other elements when scrolling */
}
th {
  position: sticky;
  top: 0px;  /* 0px if you don't have a navbar, but something is required */
  background: black;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #4a5568;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ecc94b;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ecc94b;
  cursor: pointer;
  border-radius: 50%;
}

/*
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FBBF24 0%, #FBBF24 var(--slider-value), #E5E7EB var(--slider-value), #E5E7EB 100%);
  border-radius: 4px; 
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px; 
  height: 16px; 
  background: #FBBF24;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; 
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px; 
  background: linear-gradient(to right, #FBBF24 0%, #FBBF24 var(--slider-value), #E5E7EB var(--slider-value), #E5E7EB 100%);
  border-radius: 4px; 
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px; 
  height: 16px; 
  background: #FBBF24; 
  border-radius: 50%; 
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px; 
  background: transparent; 
  border-color: transparent;
  color: transparent;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #FBBF24; 
  border-radius: 4px; 
}

input[type="range"]::-ms-fill-upper {
  background: #E5E7EB; 
  border-radius: 4px;
}

input[type="range"]::-ms-thumb {
  width: 16px; 
  height: 16px; 
  background: #FBBF24; 
  border-radius: 50%; 
  cursor: pointer;
}*/

input[type="range"]:focus {
  outline: none; /* Remove focus outline */
}

input[type="range"]::-ms-tooltip {
  display: none; /* Remove default tooltip in IE */
}