@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'W95FA';
  src: url(/fonts/W95FA.woff2) format('woff2'),
       url(/fonts/W95FA.woff) format('woff');
}

body {
  font-family: 'W95FA';
  letter-spacing: 1px;
  background-color: #000;
  color: #929292;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scrollbar-width: none;  /* Firefox */
}

a {
 transition: .25s;
}
a:hover {
 color: #2f81f7;
}

.from-yellow-16 {
  --tw-gradient-from: rgba(222,241,65,.16) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(222,241,65,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}
.from-yellow\/15 {
  --tw-gradient-from: rgba(222,241,65,.04) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(222,241,65,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.text-gray {
  color: #929292;
}
.border-dark-gray {
  border-bottom: 1px solid #303030;
}
.border-dark-gray-r {
  border-right: 1px solid #303030;
}
.border-dark-gray-b {
  border-bottom: 1px solid #303030;
}
.border-dark-gray-top{
  border-top: 1px solid #303030;
}
.border-dark-gray-all {
  border-bottom: 1px solid #303030;
  border-left: 1px solid #303030;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
}
